@charset "utf-8";

// 公共响应变量
@min-xs: (min-width: 768px);
@min-sm: (min-width: 992px);
@min-md: (min-width: 1280px);
@min-lg: (min-width: 1600px);
@min-xg: (min-width: 1920px);

@max-xs: (max-width: 767px);
@max-sm: (max-width: 971px);
@max-md: (max-width: 1260px);
@max-lg: (max-width: 1580px);
@max-xg: (max-width: 1900px);


// 初始化
* {
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: calc(100vw/19.2);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    min-height: 100%;
    font-family: 'Microsoft YaHei','PingFang SC','Microsoft YaHei UI','Source Han Sans CN','Source Han Serif CN','SimSun','SimHei','Arial';
    font-size: .14rem;
    line-height: 1.7;
    color: #8E8E8E;
    background: #fff;
    @media @max-xg {
        font-size: 14px;
    }
    @media @max-sm {
        font-size: .6rem;
    }
}
img {
    border: 0;
    vertical-align: top;
}
li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
a,
a:hover,
a:focus {
    text-decoration: none;
}
input,
button {
    -webkit-appearance: none;
    border-radius: 0;
}
button {
    cursor: pointer;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

textarea {
    resize: none;
    overflow: auto;
}
input,
button,
textarea,
select {
    border: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: transparent;
}
select {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select::-ms-expand {
    display: none;
}
table {
    border-collapse: collapse;
}


// 公共浮动、清浮动
.fl {
    float: left;
}
.fr {
    float: right;
}
.clear {
    zoom: 1;
}
.clear:after {
    content: '';
    display: block;
    clear: both;
}

// 公共内容区
.container {
    margin: 0 auto;
    width: 78.6458%;
    @media @max-sm {
        padding: 0 1.5rem;
        width: 100%;
    }
}


// 公共背景色
.bg-color1{
    background-color: #fff;
}

// 公共间距
.ptb100 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    @media @max-xs {
        padding-top: .72rem;
        padding-bottom: .72rem;
    }
}
.pt100 {
    padding-top: 1rem;
    @media @max-xs {
        padding-top: .72rem;
    }
}
.pb100 {
    padding-bottom: 1rem;
    @media @max-xs {
        padding-bottom: .72rem;
    }
}

// 公共字体
.font14 {
    font-size: .14rem;
}
.font16 {
    font-size: .16rem;
}
.font18 {
    font-size: .18rem;
}
.font20 {
    font-size: .2rem;
}
.font22 {
    font-size: .22rem;
}
.font24 {
    font-size: .24rem;
}
.font26 {
    font-size: .26rem;
}
.font28 {
    font-size: .28rem;
}
.font30 {
    font-size: .3rem;
}
.font40 {
    font-size: .3rem;
}
.font50 {
    font-size: .5rem;
}
.font60 {
    font-size: .6rem;
}
.font70 {
    font-size: .7rem;
}
.font80 {
    font-size: .8rem;
}
@media @max-xg {
    .font14 {
        font-size: 14px;
    }
    .font16 {
        font-size: 16px;
    }
    .font18 {
        font-size: 16px;
    }
}
@media @max-lg {
    .font16,.font18 {
        font-size: 14px;
    }
    .font20,.font22 {
        font-size: 16px;
    }
    .font24,.font26 {
        font-size: 18px;
    }
    .font28,.font30 {
        font-size: 20px;
    }
}
@media @max-sm {
    .font20{
        font-size: .6rem;
    }
    .font22 {
        font-size: .8rem;
    }
    .font60 {
        font-size: 1.5rem;
    }
    .font70{
        font-size: 1.7rem;
    }
    .font80 {
        font-size: 2rem;
    }
    .font50 {
        font-size: 1.2rem;
    }
}

// 动画
@-webkit-keyframes move1 {
    0% {
        transform: translateX(0)
    }
    25% {
        transform: translateX(-20%)
    }
    50% {
        transform: translateX(0)
    }
    75% {
        transform: translateX(20%)
    }
    to {
        transform: translateX(0)
    }
}

@keyframes move1 {
    0% {
        transform: translateX(0)
    }
    25% {
        transform: translateX(-20%)
    }
    50% {
        transform: translateX(0)
    }
    75% {
        transform: translateX(20%)
    }
    to {
        transform: translateX(0)
    }
}

// ie浏览器提示
#hi-upgrade {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #fff;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    .hi-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -177px 0 0 -450px;
        width: 900px;
        .hi-title {
            font-size: 30px;
            line-height: 40px;
            color: #333;
        }
        .hi-close {
            margin: 10px 0;
            display: inline-block;
            cursor: pointer;
            font-size: 18px;
            color: #005CE6;
            &:hover {
                text-decoration: underline;
            }
        }
        .hi-text1 {
            color: #666;
            span {
                color: #005CE6;
            }
        }
        .hi-text2 {
            position: relative;
            margin: 60px 0;
            color: #333;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                z-index: 1;
                width: 100%;
                border-top: 1px solid #ddd;
            }
            span {
                position: relative;
                z-index: 5;
                padding: 0 30px;
                background: #fff;
            }
        }
        .hi-list {
            overflow: hidden;
            li{
                display: inline-block;
                width: 16%;
                div {
                    margin: 0 auto 5px;
                    width: 50px;
                    height: 50px;
                }
                a {
                    color: #666;
                    &:hover {
                        color: #005CE6;
                    }
                }
                .hi-ico1 {
                    background: url(../images/hi-llq-1.jpg)no-repeat center / 100%;
                }
                .hi-ico2 {
                    background: url(../images/hi-llq-2.jpg)no-repeat center / 100%;
                }
                .hi-ico3 {
                    background: url(../images/hi-llq-3.jpg)no-repeat center / 100%;
                }
                .hi-ico4 {
                    background: url(../images/hi-llq-4.jpg)no-repeat center / 100%;
                }
                .hi-ico5 {
                    background: url(../images/hi-llq-5.jpg)no-repeat center / 100%;
                }
                .hi-ico6 {
                    background: url(../images/hi-llq-6.jpg)no-repeat center / 100%;
                }
            }
        }
    }
}

/* 占位标签，设置导航样式 */

#c-placeholder {
    height: 1.2rem;
    @media @max-xg {
        height: 120px;
    }
    @media @max-lg {
        height: 100px;
    }
    @media @max-sm {
        height: 3rem;
    }
}


/*顶部*/

#c-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    line-height: 1.2rem;
    text-align: center;
    color: #fff;
    transition: all 0.5s;
    transition: all 0.5s;
    @media @max-xg {
        line-height: 120px;
    }
    @media @max-lg {
        line-height: 100px;
    }
    @media @max-sm {
        line-height: 3rem;
    }
    &.c-head-move {
        top: -1.2rem;
        @media @max-xg {
            top: -120px;
        }
        @media @max-sm {
            top: -3rem;
        }
    }
    &.c-style2 {
        color: #666;
        background: #fff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .05);
    }
    a {
        color: #fff;
        transition: all 0.5s;
    }
    &.c-style2 a {
        color: #666;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-left: .7rem;
        @media @max-sm {
            padding: 0 1.5rem;
            width: 100%;
            height: 3rem;
        }
    }
    .c-right-box {
        display: flex;
        align-items: center;
    }
}


/*顶部logo*/

#c-header {
    .c-logo{
        display: flex;
        align-items: center;
        .c-img-box {
            display: flex;
            align-items: center;
            img {
                height: .34rem;
                @media @max-xg {
                    height: 34px;
                }
                @media @max-sm {
                    height: 1rem;
                }
                // &:nth-child(2){
                //     display: none;
                // }
            }
        }
        span {
            display: inline-block;
            margin-left: 20px;
            padding-left: 20px;
            border-left: 1px solid rgba(255, 255, 255, .2);
            @media @max-xs {
                display: none;
            }
        }
    }
}

// #c-header.c-style2 .c-logo .c-img-box img:nth-child(1) {
//     display: none;
// }

// #c-header.c-style2 .c-logo .c-img-box img:nth-child(2) {
//     display: inline-block;
// }


/*顶部pc导航*/

#c-header  {
    .c-nav {
        display: flex;
        align-items: center;
        @media @max-sm {
            display: none;
        }
        &>li {
            position: relative;
            &:last-child {
                margin-right: 0;
            }
            &>a {
                padding: 0 .5rem;
            }
            a:before {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                width: 0;
                height: 3px;
                background: #005CE6;
                transition: .5s;
            }
            @media @max-md {
                margin-right: 10px;
            }
        }
        li {
            a {
                position: relative;
                display: block;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
                i {
                    margin-left: 8px;
                    font-size: 20px;
                }
            }
            &.on>a::before,&:hover>a::before{
                left: 0;
                width: 100%;
            }
        }
        ul {
            position: absolute;
            top: 99%;
            left: 50%;
            display: none;
            width: 150px;
            line-height: 40px;
            background: #fff;
            box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            li{
                border-bottom: 1px solid #eee;
                &:last-child {
                    border: 0;
                }
                a {
                    color: #666;
                }
            }
        }
        
    }

}

#c-header.c-style2 .c-nav li.on>a,
#c-header .c-nav li:hover>a {
    color: #005CE6;
}

/*顶部移动端导航*/

#c-header  {
    .c-nav2 {
        position: absolute;
        top: 3rem;
        left: 0;
        width: 100%;
        height: 0;
        line-height: 3rem;
        color: #333;
        background: #fff;
        overflow-y: auto;
        transition: all 0.5s;
        text-align: left;
        &>li:last-child {
            border-bottom: 1px solid #f1f1f1;
        }
        li {
            padding: 0 1.5rem;
            border-top: 1px solid #f1f1f1;
            .c-title-box {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            a {
                color: #333;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                i {
                    font-size: 20px;
                }
            }
            a:hover,&.on>a {
                color: #005CE6
            }
            ul {
                display: none;
            }
        }
    }
}

.c-open #c-header .c-nav2 {
    height: calc(100vh - 3rem);
    height: -webkit-calc(100vh - 3rem);
}



/*顶部导航开关*/

#c-header {
    .c-switch {
        display: none;
        width: 24px;
        height: 20px;
        cursor: pointer;
        @media @max-sm {
            display: block;
        }
        i {
            position: relative;
            display: block;
            height: 2px;
            background: #fff;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(3) {
                bottom: 0;
            }
            &:nth-child(2) {
                margin: 6px 0;
            }
        }
    }
}

#c-header.c-style2 .c-switch i {
    background: #333;
}

body.c-open #c-header .c-switch i:nth-child(2) {
    opacity: 0;
}

body.c-open #c-header .c-switch i:nth-child(1) {
    top: 8px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

body.c-open #c-header .c-switch i:nth-child(3) {
    bottom: 8px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/* 语言 */

#c-header{
    .c-language {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 0;
            height: 3px;
            background: #005CE6;
            transition: .5s;
        }
        &:hover {
            &::before {
                left: 0;
                width: 100%;
            }
            a {
                color: #005CE6;
                svg path {
                    fill: #005CE6;
                }
            }
        }
        border-left: 1px solid #E7E9EB;
        @media @max-sm {
            border: 0;
        }
        a {
            position: relative;
            display: flex;
            align-items: center;
            padding: 0 .9rem;
            @media @max-sm {
                padding: 0;
                margin-right: .5rem;
            }
            @media @max-xs {
                padding: 0;
                margin-right: 1rem;
            }
            svg,img {
                margin-right: 10px;
                width: .22rem;
                height: .22rem;
                min-height: 22px;
                min-width: 22px;
                path {
                    fill: #909090;
                    transition: all .5s;
                }
            }
        }
    }
} 

#c-header.c-style2 .c-gn .c-phone i {
    border: 1px solid rgba(222, 47, 9, .2);
}

#c-header.c-style2 .c-gn .c-phone {
    color: #005CE6;
}


/*首页轮播图*/
.c-banner1 {
    .swiper-slide {
        overflow: hidden;
        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
        .c-mb1,.c-mb2 {
            display: none;
            @media @max-sm {
                display: block;
            }
        }
        .c-pc1,.c-pc2 {
            @media @max-sm {
                display: none;
            }
        }
        .c-pc1,.c-mb1 {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
        .c-pc2,.c-mb2 {
            position: relative;
            z-index: 2;
        }
    }
    .swiper-button-next {
        margin-top: -28px;
        width: 30px;
        height: 56px;
        opacity: .2;
        transition: .5s;
        right: .6rem;
        background: url(../images/next.png) no-repeat center / auto 100%;
    }
    .swiper-button-prev {
        margin-top: -28px;
        width: 30px;
        height: 56px;
        opacity: .2;
        transition: .5s;
        left: .6rem;
        background: url(../images/prev.png) no-repeat center / auto 100%;
    }
    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        opacity: 1;
    }
}

/* 底部 */

#c-footer {
    color: #7a7a7a;
    background-color: #F4F4F4;
    a {
        color: #7a7a7a;
        transition: .5s;
        &:hover {
            color: #005CE6;
        }
    }
    .container {
        width: 100%;
        padding: 0 .7rem;
    }
    .c-top-box {
        padding: .4rem 0;
        @media @max-xs {
            padding: 3rem 0;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            .c-logo {
                display: block;
                img {
                    height: .8rem;
                }
            }
            .c-language {
                margin-bottom: .8rem;
                a {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    @media @max-sm {
                        padding: 0;
                        margin-right: .5rem;
                    }
                    @media @max-xs {
                        padding: 0;
                        margin-right: 1rem;
                    }
                    svg,img {
                        margin-right: 10px;
                        width: .22rem;
                        height: .22rem;
                        min-height: 22px;
                        min-width: 22px;
                        path {
                            fill: #8f8f8f;
                            transition: all .5s;
                        }
                    }
                    &:hover {
                        color: #005CE6;
                        svg path {
                            fill: #005CE6;
                        }
                    }
                }
            }
            .c-link {
                display: flex;
                align-items: center;
            }
            .c-ico {
                display: flex;
                align-items: center;
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: .2rem;
                    img,svg {
                        width: .24rem;
                        height: .24rem;
                        min-width: 24px;
                        min-height: 24px;
                        path {
                            fill: #8f8f8f;
                            transition: all .5s;
                        }
                    }
                    &:hover {
                        svg path {
                            fill: #005CE6;
                        }
                    }
                }
            }
            .c-weixin {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 910;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .6);
                .c-img-box {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    padding: 20px;
                    width: 200px;
                    border-radius: 5px;
                    background: #fff;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    .c-close {
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        bottom: -30px;
                        left: 50%;
                        margin-left: -12px;
                        cursor: pointer;
                        background-color: #fff;
                        border-radius: 50%;
                        transition: all .5s;
                        img,svg {
                            margin: 4px;
                            width: 16px;
                            height: 16px;
                            path {
                                fill: #8f8f8f;
                                transition: all .5s;
                            }
                        }
                        &:hover{
                            background-color: #005CE6;
                            svg path {
                                fill: #fff;
                            }
                        } 
                    }
                    img {
                        width: 100%;
                    }
                    .c-text {
                        padding-top: 10px;
                        line-height: 1;
                        text-align: center;
                        color: #333;
                    }
                }
            }
        }
    }
    .c-center-box {
        border-top: 1px solid #E5E5E5;
        padding: .5rem 0 .8rem;
        .container {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
        }
        .c-title-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: .25rem;
            margin-right: .25rem;
            border-right: 2px solid #005CE6;
            line-height: 1;
            @media @max-xs {
                padding: .5rem 0;
                border-bottom: 1px solid #666;
            }
            .c-title {
                font-weight: bold;
                color: #000;
            }
            a {
                color: #000;
                &:hover {
                    color: #005CE6;
                }
            }
            i {
                display: none;
                transition: .5s;
                @media @max-xs {
                    display: inline-block;
                }
            }
        }
        .c-list-box {
            display: flex;
            align-items: flex-start;
            padding-right: 1.4rem;
            @media @max-md {
                padding-right: .6rem;
            }
            &:last-child {
                padding-right: 0;
                .c-title-box {
                    border: 0;
                }
            }
            @media @max-xs {
                width: 100%;
            }
            .c-list {
                @media @max-xs {
                    padding-top: .5rem;
                    display: none;
                }
                li {
                    padding-bottom: .1rem;
                    line-height: .16rem;
                    &:last-child {
                        padding-bottom: 0;
                        @media @max-xs {
                            padding-bottom: .5rem;
                        }
                    }
                    @media @max-xg {
                        line-height: 16px;
                    }
                    @media @max-lg {
                        line-height: 1;
                    }
                    @media @max-xs {
                        padding-bottom: .5rem;
                    }
                }
            }
            &.on {
                .c-title-box {
                    i {
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                        @media @max-xs {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
    .c-bottom-box {
        padding: .25rem 0;
        color: #7f7f7f;
        font-size: .12rem;
        @media @max-xg {
            font-size: 12px;
        }
        @media @max-xs {
            padding: 1.5rem 0;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            a {
                color: #7a7a7a;
                &:hover {
                    color: #005CE6;
                }
            }
            .c-copyright {
                word-wrap: break-word;
                word-break: break-all;
            }
            .c-link {
                display: flex;
                align-items: flex-start;
                span {
                    padding: 0 5px;
                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
}


/* 顶部banner */

#c-top-banner {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.2);
    }
    img {
        width: 100%;
    }
    .c-box {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        .c-title {
            font-size: 48px;
            line-height: 1.5;
            color: #fff;
        }
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/* 顶部菜单 */

#c-top-menu {
    background: #f7f7f7;
    border-bottom: 1px solid #fafafa;
    .c-list {
        position: relative;
        display: flex;
        align-items: flex-start;
        overflow-x: auto;
        margin-bottom: -1px;
        li {
            flex: none;
            margin-right: .4rem;
            line-height: 80px;
            width: 190px;
            a {
                position: relative;
                display: block;
                color: #666;
                transition: .5s;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    border-bottom: 2px solid #005CE6;
                    transition: .5s;
                }
            }
            &.on a,a:hover{
                color: #005CE6;
            }
            &.on a::before,a:hover::before{
                width: 100%;
            }
        }
    }
    &.c-click-move .c-list li {
        width: 25%;
        margin: 0;
    }
}


/* 地图 */

.c-map {
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    .map-title {
        font-size: 14px;
        font-weight: bold;
        color: #005CE6;
    }
    .map-content {
        font-size: 12px;
        color: #222;
    }
    .anchorBL {
        display: none;
    }
}

/* 分享 */
div.bsLogoLink,
#bsBox .bsTop,
#bsBox #bsMorePanel {
    width: 100% !important;
}

.bFind-wrapper-top {
    height: 26px !important;
}

#bsBox #bsMorePanel {
    height: 373px !important;
}

.bsPlatDiv {
    height: 312px !important;
}

.bFind {
    width: 204px !important;
}

#bsBox {
    height: 408px !important;
    width: 276px !important;
    margin-left: -138px !important;
}

.bsTop {
    width: 208px !important;
}

.bsFrameDiv div {
    width: 208px !important;
    height: 208px !important;
}

.bsFrameDiv img {
    width: 166px !important;
    height: 166px !important;
}


/* 上下页 */

#c-prev-next {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    a {
        max-width: 46%;
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 24px;
        color: #666;
        transition: .5s;
        &:hover {
            color: #005CE6;
        }
    }
    .prev i {
        margin-right: 10px;
        font-size: 20px;
        vertical-align: middle;
    }
    .next i {
        margin-left: 10px;
        font-size: 20px;
        vertical-align: middle;
    }
}

@media @max-xs {
    #c-prevNext {
        margin: -5px 0;
    }
    #c-prevNext a {
        margin: 5px 0;
    }
    #c-prevNext .prev i {
        margin-right: 10px;
    }
    #c-prevNext .next i {
        margin-left: 10px;
    }
}

/* 分页 */

.c-page {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #666;
    font-size: 14px;
    line-height: 40px;
    a {
        margin: 5px;
        display: block;
        width: 40px;
        text-align: center;
        background: #f9f9f9;
        color: #666;
        transition: .5s;
        &:hover,.on {
            color: #fff;
            background: #005CE6;
        }
    }
    .prev,.next {
        width: 100px;
    }
}
@media @max-xs {
    .c-page a {
        display: none;
    }
    .c-page .prev,
    .c-page .next {
        display: inline-block;
    }
}


/* 公共标题 */

.c-common-title {
    text-align: center;
    .c-title {
        font-size: 36px;
        line-height: 70px;
        background-image: url(../images/bgxs2.png);
        background-repeat: no-repeat;
        background-position: left 57% center;
        color: #fff;
        background-size: auto 70px;
    }
    .c-text {
        padding-top: .15rem;
        font-size: 22px;
        line-height: 32px;
        color: #666;
    }
}

// anp第1屏
#c-anp1 {
    position: relative;
    z-index: 5;
    height: 6.45rem;
    @media @max-sm {
        height: auto;
    }
    .c-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
        width: .46rem;
        height: .46rem;
        min-height: 46px;
        min-width: 46px;
        -webkit-transform: scale(1) translate(-50%, -50%);
        transform: scale(1) translate(-50%, -50%);
        background: url(../images/ico-play.svg)no-repeat center / 100%;
        cursor: pointer;
        transition: all .5s;
        @media @max-sm {
            display: none;
        }
        &:hover {
            -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
        }
    } 
    .c-video-box {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        @media @max-sm {
            height: 13rem;
        }
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .c-text-box{
        position: absolute;
        z-index: 5;
        right: 0;
        bottom: -.9rem;
        width: 57.1354%;
        color: #fff;
        overflow: hidden;
        @media @max-sm {
            position: relative;
            bottom: 0;
            width: 100%;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 100%;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: #005CE6;
            transition: all .5s;
        }
        .c-wrap {
            opacity: 0;
            position: relative;
            z-index: 5;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: .4rem .6rem;
            transition: all .5s;
            @media @max-sm {
                padding: 1.5rem 1.5rem 2rem;
            }
            .c-left {
                .c-text1 {
                    line-height: 1;
                }
                .c-title {
                    margin: .1rem 0 .5rem;
                    line-height: 1.2;
                    @media @max-xs {
                        margin: .5rem 0;
                    }
                }
                .c-text2 {
                    opacity: .5;
                }
            }
            .c-right {
                .c-text {
                    color: #0040A1;
                    line-height: 1;
                }
            }
        }
    }
    &.on {
        .c-text-box {
            &::before {
                left: 0;
            }
            .c-wrap {
                opacity: 1;
                transition: all .5s .5s;
            }
        }
    }
}

// anp第2屏
#c-anp2 {
    padding: 1.3rem 0 2.4rem;
    position: relative;
    overflow: hidden;
    @media @max-sm {
        padding: 2.1rem 0 3.5rem;
    }
    .c-car {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 35.4%;
        @media @max-sm {
            display: none;
        }
    }
    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .c-left {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 30.59%;
        @media @max-sm {
            width: 100%;
        }
        .c-title {
            font-weight: bold;
            color: #333;
            line-height: 1.2;
            span {
                color: #005CE6;
            }
        }
        .c-en-title {
            color: #000;
            writing-mode: vertical-lr;
            writing-mode: tb-lr;  
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            @media @max-sm {
                font-size: .7rem;
            }
        }
    }
    .c-right {
        padding-top: 1.5rem;
        width: 58.94%;
        @media @max-sm {
            width: 100%;
            padding-top: 1.7rem;
        }
        .c-list {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            margin: 0 -5px;
            li {
                padding: 0 5px;
                width: 50%;
                @media @max-sm {
                    margin-bottom: 2rem;
                    width: 100%;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                .c-img-box {
                    height:2.24rem;
                    overflow: hidden;
                    @media @max-sm {
                        width: 100%;
                        height: 8rem;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .c-text-box {
                    padding: .3rem 0;
                    @media @max-sm {
                        padding: .7rem 0;
                    }
                    .c-title {
                        line-height: 1.5;
                        margin-bottom: .1rem;
                        color: #000;
                        @media @max-sm {
                            margin-bottom: .25rem;
                        }
                    }
                    .c-text {
                        padding-right: .3rem;
                        min-height: .6rem;
                    }
                }
                .c-num-box {
                    display: flex;
                    align-items: center;
                    color: #000;
                    .c-num {
                        display: flex;
                        align-items: flex-start;
                        line-height: 1;
                        i {
                            font-style: normal;
                            margin-left: 10px;
                            @media @max-sm {
                                font-size: .7rem;
                            }
                        }
                    }
                    img {
                        margin: 0 .26rem;
                        height: .2rem;
                        min-height: 20px;
                        animation: move1 1.5s linear infinite;
                        -webkit-animation: move1 1.5s linear infinite;
                        @media @max-sm {
                            margin: 0 1rem;
                            height: .5rem;
                            min-height: auto;
                        }
                    }
                }
                &:last-child {
                    .c-num-box {
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}

// anp第3屏
#c-anp3 {
    display: flex;
    align-items: flex-start;
    background-color: #F7F7F7;
    padding-bottom: 1rem;
    .c-left {
        position: relative;
        top: -.45rem;
        width: 62.5%;
        @media @max-md {
            width: 55%;
        }
        .c-anp3-banner {
            .swiper-slide {
                height: 6.54rem;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .c-right {
        padding: .7rem;
        width:37.5%;
        @media @max-md {
            width: 45%;
        }
        .c-title {
            margin-bottom: .9rem;
            font-weight: bold;
            color: #333;
            line-height: 1.2;
            span {
                color: #005CE6;
            }
        }
        .c-list {
            li {
                position: relative;
                border-top: 1px solid #D1D8E3;
                &::before {
                    content: "";
                    position: absolute;
                    top: -1px;
                    width: 0;
                    border-top: 1px solid #005CE6;
                    transition: all .5s;
                }
                .c-wrap {
                    display: flex;
                    align-items: flex-start;
                    padding: .2rem 0;
                    .c-title2 {
                        width: 39%;
                        flex-shrink: 0;
                        padding-right: 20px;
                        color: #8E8E8E;
                        transition: all .5s;
                    }
                    .c-text {
                        display: none; 
                        padding-right: .7rem;
                        width: 61%;
                    }
                }
                &.on {
                    &::before {
                        width: 100%;
                    }
                    .c-wrap {
                        .c-title2 {
                            font-weight: bold;
                            color: #010101;
                        }
                        .c-text {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

// np第4屏
#c-anp4 {
    padding: 1.3rem 0 1.5rem;
    .c-title {
        padding-left: 1.9rem;
        margin-bottom: -2rem;
        font-weight: bold;
        color: #333;
        line-height: 1.2;
        span {
            color: #005CE6;
        }
    }
    .c-list {
        li {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: -.7rem;
            &:last-child {
                margin-bottom: 0;
            }
            &:nth-child(odd) {
                flex-direction: row-reverse;
            }
            &:nth-child(1) {
                align-items: flex-end;
                z-index: 3;
                .c-text-box {
                    padding: 2rem;
                    width: 50%;
                    @media @max-md {
                        padding: 1rem 2rem;
                    }
                }
                .c-img-box {
                    width: 5.16rem;
                    height: 6.76rem;
                }
            }
            &:nth-child(2) {
                z-index: 2;
                .c-text-box {
                    padding: 1.5rem 1.9rem 1.5rem 1.5rem;
                    width: 46%;
                }
                .c-img-box {
                    width: 7.08rem;
                    height: 4.86rem;
                }
            }
            &:nth-child(3) {
                z-index: 1;
                .c-text-box {
                    padding: 1.4rem .6rem .6rem 2rem;
                    width: 40%;
                }
                .c-img-box {
                    width: 8.8rem;
                    height:5.32rem;
                }
            }
            .c-text-box {
                .c-title2 {
                    font-weight: bold;
                    margin-bottom: .2rem;
                    line-height: 1.2;
                    color: #000;
                }
            }
            .c-img-box {
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

// anp第5\6\7屏
#c-anp567 {
    position: relative;
}
#c-anp5 {
    position: relative;
    background: #f7f7f7 no-repeat top center / cover;
}
#c-anp6,#c-anp7 {
    .c-bottom {
        align-items: flex-end;
    }
}
#c-anp6 {
    color: #fff;
    background: #17181E;
    .c-top {
        .c-right2 {
            .c-left3 {
                .c-title,.c-title2 {
                    color: #fff;
                }
            }
            .c-right3 {
                .c-text {
                    opacity: .5;
                }
            }
        }
    }
    .c-bottom {
        .c-left2 {
            .c-title {
                color: #fff;
            }
        }
        .c-anp-common-banner-left {
            color: #8e8e8e;
        }
    }
}
#c-anp7 {
    background: #fff;
    .c-car {
        position: absolute;
        top: 2.4rem;
        left: 4.8rem;
        width: 1.58rem;
        z-index: 2;
    }
}
.c-anp-common {
    position: relative;
    position: sticky;
    top: 0;
    padding: 1.1rem 1rem 1rem 2.1rem;
    overflow: hidden;
    .c-img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 5.8rem;
    }
    .c-main {
        position: relative;
        z-index: 5;
    }
    .c-top {
        margin-bottom: 1.2rem;
    }
    .c-top,.c-bottom {
        display: flex;
        align-items: flex-start;
        .c-left2 {
            width: 28.75%;
            .c-title {
                font-weight: bold;
                line-height: 1.2;
                color: #000;
                span {
                    color: #005CE6;
                }
            }
        }
        .c-right2 {
            display: flex;
            align-items: flex-start;
            width: 71.25%;
            .c-left3 {
                width:27%;
                color: #000;
                line-height: 1.2;
                .c-title {
                    margin-bottom: .1rem;
                    line-height: 1.1;
                    span {
                        color: #005CE6;
                    }
                }
            }
            .c-right3 {
                width: 73%;
                .c-text {
                    padding-right: 3rem;
                    line-height: 1.5;
                    @media @max-md {
                        padding-right: 0;
                    }
                }
            }
        }
    }
    .c-bottom {
        .c-right2 {
            align-items: flex-end;
        }
    }
    .c-anp-common-banner-left {
        margin: 0;
        width: 1.9rem;
        flex-shrink: 0;
        @media @max-md {
            width: 3rem;
        }
        .swiper-slide {
            padding-left: .25rem;
            border-left: 2px solid #C2C2C2;
            cursor: pointer;
            &.swiper-slide-thumb-active {
                border-color: #005CE6;
            }
        }
    }
    .c-anp-common-banner-right {
        margin: 0;
        width: 100%;
        .c-wrap {
            height: 4.8rem;
            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            } 
        }
    }
}

// anp第8屏
#c-anp8 {
    position: relative;
    background-color: #f2f2f2;
    .c-text-box {
        position: absolute;
        top: .7rem;
        left: 0;
        width: 100%;
        .c-wrap {
            width: 5.1rem;
            @media @max-md {
                width: 50%;
            }
            .c-title {
                width: 5.6rem;
                flex-shrink: 0;
                font-weight: bold;
                color: #333;
                line-height: 1.2;
                span {
                    color: #005CE6;
                }
            }
            .c-text1 {
                margin: .2rem 0 .3rem;
                color: #000;
                opacity: .5;
                line-height: 1.5;
            }
        }
    }
    .c-img-box {
        img {
            width: 100%;
            @media @max-md {
                margin-top: 3rem;
            }
        }
    }
}

// anp第9屏
#c-anp9 {
    color: #fff;
    height: 110vh;
    .c-main {
        position: relative;
        position: sticky;
        top: 0;
        background: url(../images/anp9-2.jpg)no-repeat center / cover;
        height: 100vh;
        padding-top: 1rem;
        overflow: hidden;
    }
    &.active {
        .container {
            opacity: 1;
            transition: all 0.5s 0.5s;
        } 
        .c-round {
            top: 45vh;
            left: -20vh;
            margin-left: 0;
        }
    }
    &.on1 {
        .c-round {
            top: 45vh;
            left: -20vh;
            margin-left: 0;
        }
    }
    &.on2 {
        .c-round {
            top: -75vh;
            left: 10vh;
            margin-left: 0;
        } 
    }
    &.on3 {
        .c-round {
            top: -20vh;
            left: -60vh;
            margin-left: 0;
        } 
    }
    .c-round {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
        margin-left: -50vh;
        height: 100vh;
        width: 100vh;
        transition: 1s;
    }
    .container {
        position: relative;
        opacity: 0;
        z-index: 5;
        display: flex;
        align-items: center;
        transition: all 1s;
    }
    .c-left {
        width: 50%;
        .c-anp9-banner {
            .swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
                .c-text{
                    margin-top: .05rem;
                    opacity: .5;
                }
            }
        }
    }
    .c-right {
        width: 50%;
        .c-title {
            width: 5.6rem;
            flex-shrink: 0;
            font-weight: bold;
            color: #fff;
            line-height: 1.2;
            span {
                color: #005CE6;
            }
        }
        .c-text {
            margin: .2rem 0 1.5rem;
            opacity: .5;
        }
        .c-list {
            li {
                margin-top: .1rem;
                line-height: 1;
                padding-left: .2rem;
                border-left: 2px solid transparent;
                transition: all .5s;
                cursor: pointer;
                &.on {
                    border-color: #005CE6;
                    color: #005CE6;
                }
            }
        }
    }
}

// anp第10屏
#c-anp10 {
    padding: 1rem 0;
    .container {
        display: flex;
        align-items: center;
    }
    .c-left {
        width: 50%;
        .c-img-box {
            img {
                width: 100%;
            }
        }
    }
    .c-right {
        width: 50%;
        .c-title-box {
            display: flex;
            align-items: flex-start;
            margin-bottom: 1.6rem;
            .c-left2 {
                width: 42.666666%;
                .c-title {
                    color: #000;
                    line-height: 1.2;
                    margin-bottom: .2rem;
                }
            }
            .c-right2 {
                width: 57.333334%;
                .c-text {
                    line-height: 1.5;
                }
            }
        }
        .c-list {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            li {
                width: 42.666666%;
                padding-right: .8rem;
                line-height: 1;
                .c-wrap {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    padding: .3rem 0 .5rem;
                    border-top: 1px solid #D5D5D5;
                    .c-num {
                        color: #000;
                    }
                }
                &:last-child {
                    .c-wrap {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}

// anp第11屏
#c-anp11 {
    padding: .9rem 0 2rem;
    color: #fff;
    background: #000000;
    .c-top {
        @media @max-md {
            margin-bottom: .5rem;
        }
        .c-text {
            opacity: .5;
            line-height: 1.5;
        }
    }
    .c-bottom {
        position: relative;
        .c-list {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 10;
            li {
                margin-top: .1rem;
                line-height: 1;
                padding-left: .2rem;
                border-left: 2px solid transparent;
                transition: all .5s;
                cursor: pointer;
                &.on {
                    border-color: #005CE6;
                    color: #005CE6;
                }
            }
        }
        .c-anp11-banner {
            .swiper-slide {
                &:first-child {
                    .c-wrap {
                        .c-text-box {
                            .c-list2 {
                                li {
                                    &:last-child {
                                        width: 100%;
                                        .c-text {
                                            display: flex;
                                            align-items: flex-start;
                                            flex-wrap: wrap;
                                            p {
                                                width: 50%;
                                                &:nth-child(odd) {
                                                    padding-right: 20px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    } 
                }
                .c-wrap {
                    display: flex;
                    align-items: center;
                    flex-direction: row-reverse;
                    .c-img-box{
                        display: flex;
                        align-items: center;
                        width: 50%;
                        height: 5.9rem;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    .c-text-box {
                        padding-right: .8rem;
                        width: 50%;
                        .c-list2 {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            li {
                                display: flex;
                                align-items: flex-start;
                                padding: .15rem 0;
                                width: 47.6%;
                                border-bottom: 1px solid #202020;
                                @media @max-md {
                                    font-size: 12px;
                                }
                                .c-title {
                                    padding-right: 20px;
                                    flex-shrink: 0;
                                    color: #8e8e8e;
                                }
                                .c-text {
                                    width: 100%;
                                    text-align: right;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// anp第12屏 
#c-anp12 {
    padding: 1rem 0 1.4rem;
    .c-top {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1rem;
        .c-title {
            width: 5.6rem;
            flex-shrink: 0;
            font-weight: bold;
            color: #333;
            line-height: 1.2;
            span {
                color: #005CE6;
            }
        }
        .c-text {
            line-height: 1.5;
        }
    }
    .c-anp12-banner {
        margin: 0 -.7rem;
        .swiper-slide {
            padding: 0 5px;
            width: 2rem;
            transition: all .5s;
            .c-video-box {
                position: relative;
                height: 2.52rem;
                overflow: hidden;
                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .c-btn {
                    position: absolute;
                    bottom: .26rem;
                    left: .26rem;
                    width: .3rem;
                    height: .3rem;
                    min-width: 30px;
                    min-height: 30px;
                    background: url(../images/ico-play.svg)no-repeat center / 100%;
                }
            }
            .c-text-box {
                padding-top: .2rem;
                .c-title {
                    transition: all .5s;
                    min-height: .48rem;
                }
            }
            &.on {
                width: 4.2rem;
                .c-video-box {
                    .c-btn {
                        opacity: 0;
                    }
                }
                .c-text-box {
                    .c-title {
                        color: #000;
                    }
                }
            }
        }
    }
}