@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: calc(100vw/19.2);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100%;
  font-family: 'Microsoft YaHei', 'PingFang SC', 'Microsoft YaHei UI', 'Source Han Sans CN', 'Source Han Serif CN', 'SimSun', 'SimHei', 'Arial';
  font-size: 0.14rem;
  line-height: 1.7;
  color: #8E8E8E;
  background: #fff;
}
@media (max-width: 1900px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 971px) {
  body {
    font-size: 0.6rem;
  }
}
img {
  border: 0;
  vertical-align: top;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
input,
button {
  -webkit-appearance: none;
  border-radius: 0;
}
button {
  cursor: pointer;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
textarea {
  resize: none;
  overflow: auto;
}
input,
button,
textarea,
select {
  border: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: transparent;
}
select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}
table {
  border-collapse: collapse;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  zoom: 1;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.container {
  margin: 0 auto;
  width: 78.6458%;
}
@media (max-width: 971px) {
  .container {
    padding: 0 1.5rem;
    width: 100%;
  }
}
.bg-color1 {
  background-color: #fff;
}
.ptb100 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (max-width: 767px) {
  .ptb100 {
    padding-top: 0.72rem;
    padding-bottom: 0.72rem;
  }
}
.pt100 {
  padding-top: 1rem;
}
@media (max-width: 767px) {
  .pt100 {
    padding-top: 0.72rem;
  }
}
.pb100 {
  padding-bottom: 1rem;
}
@media (max-width: 767px) {
  .pb100 {
    padding-bottom: 0.72rem;
  }
}
.font14 {
  font-size: 0.14rem;
}
.font16 {
  font-size: 0.16rem;
}
.font18 {
  font-size: 0.18rem;
}
.font20 {
  font-size: 0.2rem;
}
.font22 {
  font-size: 0.22rem;
}
.font24 {
  font-size: 0.24rem;
}
.font26 {
  font-size: 0.26rem;
}
.font28 {
  font-size: 0.28rem;
}
.font30 {
  font-size: 0.3rem;
}
.font40 {
  font-size: 0.3rem;
}
.font50 {
  font-size: 0.5rem;
}
.font60 {
  font-size: 0.6rem;
}
.font70 {
  font-size: 0.7rem;
}
.font80 {
  font-size: 0.8rem;
}
@media (max-width: 1900px) {
  .font14 {
    font-size: 14px;
  }
  .font16 {
    font-size: 16px;
  }
  .font18 {
    font-size: 16px;
  }
}
@media (max-width: 1580px) {
  .font16,
  .font18 {
    font-size: 14px;
  }
  .font20,
  .font22 {
    font-size: 16px;
  }
  .font24,
  .font26 {
    font-size: 18px;
  }
  .font28,
  .font30 {
    font-size: 20px;
  }
}
@media (max-width: 971px) {
  .font20 {
    font-size: 0.6rem;
  }
  .font22 {
    font-size: 0.8rem;
  }
  .font60 {
    font-size: 1.5rem;
  }
  .font70 {
    font-size: 1.7rem;
  }
  .font80 {
    font-size: 2rem;
  }
  .font50 {
    font-size: 1.2rem;
  }
}
@-webkit-keyframes move1 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(20%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes move1 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(20%);
  }
  to {
    transform: translateX(0);
  }
}
#hi-upgrade {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: #fff;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}
#hi-upgrade .hi-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -177px 0 0 -450px;
  width: 900px;
}
#hi-upgrade .hi-wrap .hi-title {
  font-size: 30px;
  line-height: 40px;
  color: #333;
}
#hi-upgrade .hi-wrap .hi-close {
  margin: 10px 0;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  color: #005CE6;
}
#hi-upgrade .hi-wrap .hi-close:hover {
  text-decoration: underline;
}
#hi-upgrade .hi-wrap .hi-text1 {
  color: #666;
}
#hi-upgrade .hi-wrap .hi-text1 span {
  color: #005CE6;
}
#hi-upgrade .hi-wrap .hi-text2 {
  position: relative;
  margin: 60px 0;
  color: #333;
}
#hi-upgrade .hi-wrap .hi-text2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  width: 100%;
  border-top: 1px solid #ddd;
}
#hi-upgrade .hi-wrap .hi-text2 span {
  position: relative;
  z-index: 5;
  padding: 0 30px;
  background: #fff;
}
#hi-upgrade .hi-wrap .hi-list {
  overflow: hidden;
}
#hi-upgrade .hi-wrap .hi-list li {
  display: inline-block;
  width: 16%;
}
#hi-upgrade .hi-wrap .hi-list li div {
  margin: 0 auto 5px;
  width: 50px;
  height: 50px;
}
#hi-upgrade .hi-wrap .hi-list li a {
  color: #666;
}
#hi-upgrade .hi-wrap .hi-list li a:hover {
  color: #005CE6;
}
#hi-upgrade .hi-wrap .hi-list li .hi-ico1 {
  background: url(../images/hi-llq-1.jpg) no-repeat center / 100%;
}
#hi-upgrade .hi-wrap .hi-list li .hi-ico2 {
  background: url(../images/hi-llq-2.jpg) no-repeat center / 100%;
}
#hi-upgrade .hi-wrap .hi-list li .hi-ico3 {
  background: url(../images/hi-llq-3.jpg) no-repeat center / 100%;
}
#hi-upgrade .hi-wrap .hi-list li .hi-ico4 {
  background: url(../images/hi-llq-4.jpg) no-repeat center / 100%;
}
#hi-upgrade .hi-wrap .hi-list li .hi-ico5 {
  background: url(../images/hi-llq-5.jpg) no-repeat center / 100%;
}
#hi-upgrade .hi-wrap .hi-list li .hi-ico6 {
  background: url(../images/hi-llq-6.jpg) no-repeat center / 100%;
}
/* 占位标签，设置导航样式 */
#c-placeholder {
  height: 1.2rem;
}
@media (max-width: 1900px) {
  #c-placeholder {
    height: 120px;
  }
}
@media (max-width: 1580px) {
  #c-placeholder {
    height: 100px;
  }
}
@media (max-width: 971px) {
  #c-placeholder {
    height: 3rem;
  }
}
/*顶部*/
#c-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  line-height: 1.2rem;
  text-align: center;
  color: #fff;
  transition: all 0.5s;
}
@media (max-width: 1900px) {
  #c-header {
    line-height: 120px;
  }
}
@media (max-width: 1580px) {
  #c-header {
    line-height: 100px;
  }
}
@media (max-width: 971px) {
  #c-header {
    line-height: 3rem;
  }
}
#c-header.c-head-move {
  top: -1.2rem;
}
@media (max-width: 1900px) {
  #c-header.c-head-move {
    top: -120px;
  }
}
@media (max-width: 971px) {
  #c-header.c-head-move {
    top: -3rem;
  }
}
#c-header.c-style2 {
  color: #666;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
#c-header a {
  color: #fff;
  transition: all 0.5s;
}
#c-header.c-style2 a {
  color: #666;
}
#c-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 0.7rem;
}
@media (max-width: 971px) {
  #c-header .container {
    padding: 0 1.5rem;
    width: 100%;
    height: 3rem;
  }
}
#c-header .c-right-box {
  display: flex;
  align-items: center;
}
/*顶部logo*/
#c-header .c-logo {
  display: flex;
  align-items: center;
}
#c-header .c-logo .c-img-box {
  display: flex;
  align-items: center;
}
#c-header .c-logo .c-img-box img {
  height: 0.34rem;
}
@media (max-width: 1900px) {
  #c-header .c-logo .c-img-box img {
    height: 34px;
  }
}
@media (max-width: 971px) {
  #c-header .c-logo .c-img-box img {
    height: 1rem;
  }
}
#c-header .c-logo span {
  display: inline-block;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 767px) {
  #c-header .c-logo span {
    display: none;
  }
}
/*顶部pc导航*/
#c-header .c-nav {
  display: flex;
  align-items: center;
}
@media (max-width: 971px) {
  #c-header .c-nav {
    display: none;
  }
}
#c-header .c-nav > li {
  position: relative;
}
#c-header .c-nav > li:last-child {
  margin-right: 0;
}
#c-header .c-nav > li > a {
  padding: 0 0.5rem;
}
#c-header .c-nav > li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background: #005CE6;
  transition: 0.5s;
}
@media (max-width: 1260px) {
  #c-header .c-nav > li {
    margin-right: 10px;
  }
}
#c-header .c-nav li a {
  position: relative;
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#c-header .c-nav li a i {
  margin-left: 8px;
  font-size: 20px;
}
#c-header .c-nav li.on > a::before,
#c-header .c-nav li:hover > a::before {
  left: 0;
  width: 100%;
}
#c-header .c-nav ul {
  position: absolute;
  top: 99%;
  left: 50%;
  display: none;
  width: 150px;
  line-height: 40px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
#c-header .c-nav ul li {
  border-bottom: 1px solid #eee;
}
#c-header .c-nav ul li:last-child {
  border: 0;
}
#c-header .c-nav ul li a {
  color: #666;
}
#c-header.c-style2 .c-nav li.on > a,
#c-header .c-nav li:hover > a {
  color: #005CE6;
}
/*顶部移动端导航*/
#c-header .c-nav2 {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  height: 0;
  line-height: 3rem;
  color: #333;
  background: #fff;
  overflow-y: auto;
  transition: all 0.5s;
  text-align: left;
}
#c-header .c-nav2 > li:last-child {
  border-bottom: 1px solid #f1f1f1;
}
#c-header .c-nav2 li {
  padding: 0 1.5rem;
  border-top: 1px solid #f1f1f1;
}
#c-header .c-nav2 li .c-title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#c-header .c-nav2 li a {
  color: #333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#c-header .c-nav2 li a i {
  font-size: 20px;
}
#c-header .c-nav2 li a:hover,
#c-header .c-nav2 li.on > a {
  color: #005CE6;
}
#c-header .c-nav2 li ul {
  display: none;
}
.c-open #c-header .c-nav2 {
  height: calc(100vh - 3rem);
  height: -webkit-calc(97vh);
}
/*顶部导航开关*/
#c-header .c-switch {
  display: none;
  width: 24px;
  height: 20px;
  cursor: pointer;
}
@media (max-width: 971px) {
  #c-header .c-switch {
    display: block;
  }
}
#c-header .c-switch i {
  position: relative;
  display: block;
  height: 2px;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#c-header .c-switch i:nth-child(1) {
  top: 0;
}
#c-header .c-switch i:nth-child(3) {
  bottom: 0;
}
#c-header .c-switch i:nth-child(2) {
  margin: 6px 0;
}
#c-header.c-style2 .c-switch i {
  background: #333;
}
body.c-open #c-header .c-switch i:nth-child(2) {
  opacity: 0;
}
body.c-open #c-header .c-switch i:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
body.c-open #c-header .c-switch i:nth-child(3) {
  bottom: 8px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* 语言 */
#c-header .c-language {
  position: relative;
  border-left: 1px solid #E7E9EB;
}
#c-header .c-language:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background: #005CE6;
  transition: 0.5s;
}
#c-header .c-language:hover::before {
  left: 0;
  width: 100%;
}
#c-header .c-language:hover a {
  color: #005CE6;
}
#c-header .c-language:hover a svg path {
  fill: #005CE6;
}
@media (max-width: 971px) {
  #c-header .c-language {
    border: 0;
  }
}
#c-header .c-language a {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 0.9rem;
}
@media (max-width: 971px) {
  #c-header .c-language a {
    padding: 0;
    margin-right: 0.5rem;
  }
}
@media (max-width: 767px) {
  #c-header .c-language a {
    padding: 0;
    margin-right: 1rem;
  }
}
#c-header .c-language a svg,
#c-header .c-language a img {
  margin-right: 10px;
  width: 0.22rem;
  height: 0.22rem;
  min-height: 22px;
  min-width: 22px;
}
#c-header .c-language a svg path,
#c-header .c-language a img path {
  fill: #909090;
  transition: all 0.5s;
}
#c-header.c-style2 .c-gn .c-phone i {
  border: 1px solid rgba(222, 47, 9, 0.2);
}
#c-header.c-style2 .c-gn .c-phone {
  color: #005CE6;
}
/*首页轮播图*/
.c-banner1 .swiper-slide {
  overflow: hidden;
}
.c-banner1 .swiper-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.c-banner1 .swiper-slide .c-mb1,
.c-banner1 .swiper-slide .c-mb2 {
  display: none;
}
@media (max-width: 971px) {
  .c-banner1 .swiper-slide .c-mb1,
  .c-banner1 .swiper-slide .c-mb2 {
    display: block;
  }
}
@media (max-width: 971px) {
  .c-banner1 .swiper-slide .c-pc1,
  .c-banner1 .swiper-slide .c-pc2 {
    display: none;
  }
}
.c-banner1 .swiper-slide .c-pc1,
.c-banner1 .swiper-slide .c-mb1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.c-banner1 .swiper-slide .c-pc2,
.c-banner1 .swiper-slide .c-mb2 {
  position: relative;
  z-index: 2;
}
.c-banner1 .swiper-button-next {
  margin-top: -28px;
  width: 30px;
  height: 56px;
  opacity: 0.2;
  transition: 0.5s;
  right: 0.6rem;
  background: url(../images/next.png) no-repeat center / auto 100%;
}
.c-banner1 .swiper-button-prev {
  margin-top: -28px;
  width: 30px;
  height: 56px;
  opacity: 0.2;
  transition: 0.5s;
  left: 0.6rem;
  background: url(../images/prev.png) no-repeat center / auto 100%;
}
.c-banner1 .swiper-button-next:hover,
.c-banner1 .swiper-button-prev:hover {
  opacity: 1;
}
/* 底部 */
#c-footer {
  color: #7a7a7a;
  background-color: #F4F4F4;
}
#c-footer a {
  color: #7a7a7a;
  transition: 0.5s;
}
#c-footer a:hover {
  color: #005CE6;
}
#c-footer .container {
  width: 100%;
  padding: 0 0.7rem;
}
#c-footer .c-top-box {
  padding: 0.4rem 0;
}
@media (max-width: 767px) {
  #c-footer .c-top-box {
    padding: 3rem 0;
  }
}
#c-footer .c-top-box .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
#c-footer .c-top-box .container .c-logo {
  display: block;
}
#c-footer .c-top-box .container .c-logo img {
  height: 0.8rem;
}
#c-footer .c-top-box .container .c-language {
  margin-bottom: 0.8rem;
}
#c-footer .c-top-box .container .c-language a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 971px) {
  #c-footer .c-top-box .container .c-language a {
    padding: 0;
    margin-right: 0.5rem;
  }
}
@media (max-width: 767px) {
  #c-footer .c-top-box .container .c-language a {
    padding: 0;
    margin-right: 1rem;
  }
}
#c-footer .c-top-box .container .c-language a svg,
#c-footer .c-top-box .container .c-language a img {
  margin-right: 10px;
  width: 0.22rem;
  height: 0.22rem;
  min-height: 22px;
  min-width: 22px;
}
#c-footer .c-top-box .container .c-language a svg path,
#c-footer .c-top-box .container .c-language a img path {
  fill: #8f8f8f;
  transition: all 0.5s;
}
#c-footer .c-top-box .container .c-language a:hover {
  color: #005CE6;
}
#c-footer .c-top-box .container .c-language a:hover svg path {
  fill: #005CE6;
}
#c-footer .c-top-box .container .c-link {
  display: flex;
  align-items: center;
}
#c-footer .c-top-box .container .c-ico {
  display: flex;
  align-items: center;
}
#c-footer .c-top-box .container .c-ico a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.2rem;
}
#c-footer .c-top-box .container .c-ico a img,
#c-footer .c-top-box .container .c-ico a svg {
  width: 0.24rem;
  height: 0.24rem;
  min-width: 24px;
  min-height: 24px;
}
#c-footer .c-top-box .container .c-ico a img path,
#c-footer .c-top-box .container .c-ico a svg path {
  fill: #8f8f8f;
  transition: all 0.5s;
}
#c-footer .c-top-box .container .c-ico a:hover svg path {
  fill: #005CE6;
}
#c-footer .c-top-box .container .c-weixin {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 910;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
#c-footer .c-top-box .container .c-weixin .c-img-box {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  width: 200px;
  border-radius: 5px;
  background: #fff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#c-footer .c-top-box .container .c-weixin .c-img-box .c-close {
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -30px;
  left: 50%;
  margin-left: -12px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.5s;
}
#c-footer .c-top-box .container .c-weixin .c-img-box .c-close img,
#c-footer .c-top-box .container .c-weixin .c-img-box .c-close svg {
  margin: 4px;
  width: 16px;
  height: 16px;
}
#c-footer .c-top-box .container .c-weixin .c-img-box .c-close img path,
#c-footer .c-top-box .container .c-weixin .c-img-box .c-close svg path {
  fill: #8f8f8f;
  transition: all 0.5s;
}
#c-footer .c-top-box .container .c-weixin .c-img-box .c-close:hover {
  background-color: #005CE6;
}
#c-footer .c-top-box .container .c-weixin .c-img-box .c-close:hover svg path {
  fill: #fff;
}
#c-footer .c-top-box .container .c-weixin .c-img-box img {
  width: 100%;
}
#c-footer .c-top-box .container .c-weixin .c-img-box .c-text {
  padding-top: 10px;
  line-height: 1;
  text-align: center;
  color: #333;
}
#c-footer .c-center-box {
  border-top: 1px solid #E5E5E5;
  padding: 0.5rem 0 0.8rem;
}
#c-footer .c-center-box .container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
#c-footer .c-center-box .c-title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.25rem;
  margin-right: 0.25rem;
  border-right: 2px solid #005CE6;
  line-height: 1;
}
@media (max-width: 767px) {
  #c-footer .c-center-box .c-title-box {
    padding: 0.5rem 0;
    border-bottom: 1px solid #666;
  }
}
#c-footer .c-center-box .c-title-box .c-title {
  font-weight: bold;
  color: #000;
}
#c-footer .c-center-box .c-title-box a {
  color: #000;
}
#c-footer .c-center-box .c-title-box a:hover {
  color: #005CE6;
}
#c-footer .c-center-box .c-title-box i {
  display: none;
  transition: 0.5s;
}
@media (max-width: 767px) {
  #c-footer .c-center-box .c-title-box i {
    display: inline-block;
  }
}
#c-footer .c-center-box .c-list-box {
  display: flex;
  align-items: flex-start;
  padding-right: 1.4rem;
}
@media (max-width: 1260px) {
  #c-footer .c-center-box .c-list-box {
    padding-right: 0.6rem;
  }
}
#c-footer .c-center-box .c-list-box:last-child {
  padding-right: 0;
}
#c-footer .c-center-box .c-list-box:last-child .c-title-box {
  border: 0;
}
@media (max-width: 767px) {
  #c-footer .c-center-box .c-list-box {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #c-footer .c-center-box .c-list-box .c-list {
    padding-top: 0.5rem;
    display: none;
  }
}
#c-footer .c-center-box .c-list-box .c-list li {
  padding-bottom: 0.1rem;
  line-height: 0.16rem;
}
#c-footer .c-center-box .c-list-box .c-list li:last-child {
  padding-bottom: 0;
}
@media (max-width: 767px) {
  #c-footer .c-center-box .c-list-box .c-list li:last-child {
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 1900px) {
  #c-footer .c-center-box .c-list-box .c-list li {
    line-height: 16px;
  }
}
@media (max-width: 1580px) {
  #c-footer .c-center-box .c-list-box .c-list li {
    line-height: 1;
  }
}
@media (max-width: 767px) {
  #c-footer .c-center-box .c-list-box .c-list li {
    padding-bottom: 0.5rem;
  }
}
#c-footer .c-center-box .c-list-box.on .c-title-box i {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media (max-width: 767px) {
  #c-footer .c-center-box .c-list-box.on .c-title-box i {
    display: inline-block;
  }
}
#c-footer .c-bottom-box {
  padding: 0.25rem 0;
  color: #7f7f7f;
  font-size: 0.12rem;
}
@media (max-width: 1900px) {
  #c-footer .c-bottom-box {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  #c-footer .c-bottom-box {
    padding: 1.5rem 0;
  }
}
#c-footer .c-bottom-box .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
#c-footer .c-bottom-box .container a {
  color: #7a7a7a;
}
#c-footer .c-bottom-box .container a:hover {
  color: #005CE6;
}
#c-footer .c-bottom-box .container .c-copyright {
  word-wrap: break-word;
  word-break: break-all;
}
#c-footer .c-bottom-box .container .c-link {
  display: flex;
  align-items: flex-start;
}
#c-footer .c-bottom-box .container .c-link span {
  padding: 0 5px;
}
#c-footer .c-bottom-box .container .c-link span:last-child {
  display: none;
}
/* 顶部banner */
#c-top-banner {
  position: relative;
}
#c-top-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
#c-top-banner img {
  width: 100%;
}
#c-top-banner .c-box {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#c-top-banner .c-box .c-title {
  font-size: 48px;
  line-height: 1.5;
  color: #fff;
}
#c-top-banner .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 顶部菜单 */
#c-top-menu {
  background: #f7f7f7;
  border-bottom: 1px solid #fafafa;
}
#c-top-menu .c-list {
  position: relative;
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  margin-bottom: -1px;
}
#c-top-menu .c-list li {
  flex: none;
  margin-right: 0.4rem;
  line-height: 80px;
  width: 190px;
}
#c-top-menu .c-list li a {
  position: relative;
  display: block;
  color: #666;
  transition: 0.5s;
}
#c-top-menu .c-list li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  border-bottom: 2px solid #005CE6;
  transition: 0.5s;
}
#c-top-menu .c-list li.on a,
#c-top-menu .c-list li a:hover {
  color: #005CE6;
}
#c-top-menu .c-list li.on a::before,
#c-top-menu .c-list li a:hover::before {
  width: 100%;
}
#c-top-menu.c-click-move .c-list li {
  width: 25%;
  margin: 0;
}
/* 地图 */
.c-map {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
}
.c-map .map-title {
  font-size: 14px;
  font-weight: bold;
  color: #005CE6;
}
.c-map .map-content {
  font-size: 12px;
  color: #222;
}
.c-map .anchorBL {
  display: none;
}
/* 分享 */
div.bsLogoLink,
#bsBox .bsTop,
#bsBox #bsMorePanel {
  width: 100% !important;
}
.bFind-wrapper-top {
  height: 26px !important;
}
#bsBox #bsMorePanel {
  height: 373px !important;
}
.bsPlatDiv {
  height: 312px !important;
}
.bFind {
  width: 204px !important;
}
#bsBox {
  height: 408px !important;
  width: 276px !important;
  margin-left: -138px !important;
}
.bsTop {
  width: 208px !important;
}
.bsFrameDiv div {
  width: 208px !important;
  height: 208px !important;
}
.bsFrameDiv img {
  width: 166px !important;
  height: 166px !important;
}
/* 上下页 */
#c-prev-next {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#c-prev-next a {
  max-width: 46%;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  color: #666;
  transition: 0.5s;
}
#c-prev-next a:hover {
  color: #005CE6;
}
#c-prev-next .prev i {
  margin-right: 10px;
  font-size: 20px;
  vertical-align: middle;
}
#c-prev-next .next i {
  margin-left: 10px;
  font-size: 20px;
  vertical-align: middle;
}
@media (max-width: 767px) {
  #c-prevNext {
    margin: -5px 0;
  }
  #c-prevNext a {
    margin: 5px 0;
  }
  #c-prevNext .prev i {
    margin-right: 10px;
  }
  #c-prevNext .next i {
    margin-left: 10px;
  }
}
/* 分页 */
.c-page {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #666;
  font-size: 14px;
  line-height: 40px;
}
.c-page a {
  margin: 5px;
  display: block;
  width: 40px;
  text-align: center;
  background: #f9f9f9;
  color: #666;
  transition: 0.5s;
}
.c-page a:hover,
.c-page a .on {
  color: #fff;
  background: #005CE6;
}
.c-page .prev,
.c-page .next {
  width: 100px;
}
@media (max-width: 767px) {
  .c-page a {
    display: none;
  }
  .c-page .prev,
  .c-page .next {
    display: inline-block;
  }
}
/* 公共标题 */
.c-common-title {
  text-align: center;
}
.c-common-title .c-title {
  font-size: 36px;
  line-height: 70px;
  background-image: url(../images/bgxs2.png);
  background-repeat: no-repeat;
  background-position: left 57% center;
  color: #fff;
  background-size: auto 70px;
}
.c-common-title .c-text {
  padding-top: 0.15rem;
  font-size: 22px;
  line-height: 32px;
  color: #666;
}
#c-anp1 {
  position: relative;
  z-index: 5;
  height: 6.45rem;
}
@media (max-width: 971px) {
  #c-anp1 {
    height: auto;
  }
}
#c-anp1 .c-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 0.46rem;
  height: 0.46rem;
  min-height: 46px;
  min-width: 46px;
  -webkit-transform: scale(1) translate(-50%, -50%);
  transform: scale(1) translate(-50%, -50%);
  background: url(../images/ico-play.svg) no-repeat center / 100%;
  cursor: pointer;
  transition: all 0.5s;
}
@media (max-width: 971px) {
  #c-anp1 .c-btn {
    display: none;
  }
}
#c-anp1 .c-btn:hover {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
  transform: translate(-50%, -50%) scale(1.5);
}
#c-anp1 .c-video-box {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 971px) {
  #c-anp1 .c-video-box {
    height: 13rem;
  }
}
#c-anp1 .c-video-box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#c-anp1 .c-text-box {
  position: absolute;
  z-index: 5;
  right: 0;
  bottom: -0.9rem;
  width: 57.1354%;
  color: #fff;
  overflow: hidden;
}
@media (max-width: 971px) {
  #c-anp1 .c-text-box {
    position: relative;
    bottom: 0;
    width: 100%;
  }
}
#c-anp1 .c-text-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #005CE6;
  transition: all 0.5s;
}
#c-anp1 .c-text-box .c-wrap {
  opacity: 0;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.4rem 0.6rem;
  transition: all 0.5s;
}
@media (max-width: 971px) {
  #c-anp1 .c-text-box .c-wrap {
    padding: 1.5rem 1.5rem 2rem;
  }
}
#c-anp1 .c-text-box .c-wrap .c-left .c-text1 {
  line-height: 1;
}
#c-anp1 .c-text-box .c-wrap .c-left .c-title {
  margin: 0.1rem 0 0.5rem;
  line-height: 1.2;
}
@media (max-width: 767px) {
  #c-anp1 .c-text-box .c-wrap .c-left .c-title {
    margin: 0.5rem 0;
  }
}
#c-anp1 .c-text-box .c-wrap .c-left .c-text2 {
  opacity: 0.5;
}
#c-anp1 .c-text-box .c-wrap .c-right .c-text {
  color: #0040A1;
  line-height: 1;
}
#c-anp1.on .c-text-box::before {
  left: 0;
}
#c-anp1.on .c-text-box .c-wrap {
  opacity: 1;
  transition: all 0.5s 0.5s;
}
#c-anp2 {
  padding: 1.3rem 0 2.4rem;
  position: relative;
  overflow: hidden;
}
@media (max-width: 971px) {
  #c-anp2 {
    padding: 2.1rem 0 3.5rem;
  }
}
#c-anp2 .c-car {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35.4%;
}
@media (max-width: 971px) {
  #c-anp2 .c-car {
    display: none;
  }
}
#c-anp2 .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
#c-anp2 .c-left {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 30.59%;
}
@media (max-width: 971px) {
  #c-anp2 .c-left {
    width: 100%;
  }
}
#c-anp2 .c-left .c-title {
  font-weight: bold;
  color: #333;
  line-height: 1.2;
}
#c-anp2 .c-left .c-title span {
  color: #005CE6;
}
#c-anp2 .c-left .c-en-title {
  color: #000;
  writing-mode: vertical-lr;
  writing-mode: tb-lr;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media (max-width: 971px) {
  #c-anp2 .c-left .c-en-title {
    font-size: 0.7rem;
  }
}
#c-anp2 .c-right {
  padding-top: 1.5rem;
  width: 58.94%;
}
@media (max-width: 971px) {
  #c-anp2 .c-right {
    width: 100%;
    padding-top: 1.7rem;
  }
}
#c-anp2 .c-right .c-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 -5px;
}
#c-anp2 .c-right .c-list li {
  padding: 0 5px;
  width: 50%;
}
@media (max-width: 971px) {
  #c-anp2 .c-right .c-list li {
    margin-bottom: 2rem;
    width: 100%;
  }
  #c-anp2 .c-right .c-list li:last-child {
    margin-bottom: 0;
  }
}
#c-anp2 .c-right .c-list li .c-img-box {
  height: 2.24rem;
  overflow: hidden;
}
@media (max-width: 971px) {
  #c-anp2 .c-right .c-list li .c-img-box {
    width: 100%;
    height: 8rem;
  }
}
#c-anp2 .c-right .c-list li .c-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#c-anp2 .c-right .c-list li .c-text-box {
  padding: 0.3rem 0;
}
@media (max-width: 971px) {
  #c-anp2 .c-right .c-list li .c-text-box {
    padding: 0.7rem 0;
  }
}
#c-anp2 .c-right .c-list li .c-text-box .c-title {
  line-height: 1.5;
  margin-bottom: 0.1rem;
  color: #000;
}
@media (max-width: 971px) {
  #c-anp2 .c-right .c-list li .c-text-box .c-title {
    margin-bottom: 0.25rem;
  }
}
#c-anp2 .c-right .c-list li .c-text-box .c-text {
  padding-right: 0.3rem;
  min-height: 0.6rem;
}
#c-anp2 .c-right .c-list li .c-num-box {
  display: flex;
  align-items: center;
  color: #000;
}
#c-anp2 .c-right .c-list li .c-num-box .c-num {
  display: flex;
  align-items: flex-start;
  line-height: 1;
}
#c-anp2 .c-right .c-list li .c-num-box .c-num i {
  font-style: normal;
  margin-left: 10px;
}
@media (max-width: 971px) {
  #c-anp2 .c-right .c-list li .c-num-box .c-num i {
    font-size: 0.7rem;
  }
}
#c-anp2 .c-right .c-list li .c-num-box img {
  margin: 0 0.26rem;
  height: 0.2rem;
  min-height: 20px;
  animation: move1 1.5s linear infinite;
  -webkit-animation: move1 1.5s linear infinite;
}
@media (max-width: 971px) {
  #c-anp2 .c-right .c-list li .c-num-box img {
    margin: 0 1rem;
    height: 0.5rem;
    min-height: auto;
  }
}
#c-anp2 .c-right .c-list li:last-child .c-num-box {
  justify-content: space-between;
}
#c-anp3 {
  display: flex;
  align-items: flex-start;
  background-color: #F7F7F7;
  padding-bottom: 1rem;
}
#c-anp3 .c-left {
  position: relative;
  top: -0.45rem;
  width: 62.5%;
}
@media (max-width: 1260px) {
  #c-anp3 .c-left {
    width: 55%;
  }
}
#c-anp3 .c-left .c-anp3-banner .swiper-slide {
  height: 6.54rem;
  overflow: hidden;
}
#c-anp3 .c-left .c-anp3-banner .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#c-anp3 .c-right {
  padding: 0.7rem;
  width: 37.5%;
}
@media (max-width: 1260px) {
  #c-anp3 .c-right {
    width: 45%;
  }
}
#c-anp3 .c-right .c-title {
  margin-bottom: 0.9rem;
  font-weight: bold;
  color: #333;
  line-height: 1.2;
}
#c-anp3 .c-right .c-title span {
  color: #005CE6;
}
#c-anp3 .c-right .c-list li {
  position: relative;
  border-top: 1px solid #D1D8E3;
}
#c-anp3 .c-right .c-list li::before {
  content: "";
  position: absolute;
  top: -1px;
  width: 0;
  border-top: 1px solid #005CE6;
  transition: all 0.5s;
}
#c-anp3 .c-right .c-list li .c-wrap {
  display: flex;
  align-items: flex-start;
  padding: 0.2rem 0;
}
#c-anp3 .c-right .c-list li .c-wrap .c-title2 {
  width: 39%;
  flex-shrink: 0;
  padding-right: 20px;
  color: #8E8E8E;
  transition: all 0.5s;
}
#c-anp3 .c-right .c-list li .c-wrap .c-text {
  display: none;
  padding-right: 0.7rem;
  width: 61%;
}
#c-anp3 .c-right .c-list li.on::before {
  width: 100%;
}
#c-anp3 .c-right .c-list li.on .c-wrap .c-title2 {
  font-weight: bold;
  color: #010101;
}
#c-anp3 .c-right .c-list li.on .c-wrap .c-text {
  display: block;
}
#c-anp4 {
  padding: 1.3rem 0 1.5rem;
}
#c-anp4 .c-title {
  padding-left: 1.9rem;
  margin-bottom: -2rem;
  font-weight: bold;
  color: #333;
  line-height: 1.2;
}
#c-anp4 .c-title span {
  color: #005CE6;
}
#c-anp4 .c-list li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: -0.7rem;
}
#c-anp4 .c-list li:last-child {
  margin-bottom: 0;
}
#c-anp4 .c-list li:nth-child(odd) {
  flex-direction: row-reverse;
}
#c-anp4 .c-list li:nth-child(1) {
  align-items: flex-end;
  z-index: 3;
}
#c-anp4 .c-list li:nth-child(1) .c-text-box {
  padding: 2rem;
  width: 50%;
}
@media (max-width: 1260px) {
  #c-anp4 .c-list li:nth-child(1) .c-text-box {
    padding: 1rem 2rem;
  }
}
#c-anp4 .c-list li:nth-child(1) .c-img-box {
  width: 5.16rem;
  height: 6.76rem;
}
#c-anp4 .c-list li:nth-child(2) {
  z-index: 2;
}
#c-anp4 .c-list li:nth-child(2) .c-text-box {
  padding: 1.5rem 1.9rem 1.5rem 1.5rem;
  width: 46%;
}
#c-anp4 .c-list li:nth-child(2) .c-img-box {
  width: 7.08rem;
  height: 4.86rem;
}
#c-anp4 .c-list li:nth-child(3) {
  z-index: 1;
}
#c-anp4 .c-list li:nth-child(3) .c-text-box {
  padding: 1.4rem 0.6rem 0.6rem 2rem;
  width: 40%;
}
#c-anp4 .c-list li:nth-child(3) .c-img-box {
  width: 8.8rem;
  height: 5.32rem;
}
#c-anp4 .c-list li .c-text-box .c-title2 {
  font-weight: bold;
  margin-bottom: 0.2rem;
  line-height: 1.2;
  color: #000;
}
#c-anp4 .c-list li .c-img-box {
  overflow: hidden;
}
#c-anp4 .c-list li .c-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#c-anp567 {
  position: relative;
}
#c-anp5 {
  position: relative;
  background: #f7f7f7 no-repeat top center / cover;
}
#c-anp6 .c-bottom,
#c-anp7 .c-bottom {
  align-items: flex-end;
}
#c-anp6 {
  color: #fff;
  background: #17181E;
}
#c-anp6 .c-top .c-right2 .c-left3 .c-title,
#c-anp6 .c-top .c-right2 .c-left3 .c-title2 {
  color: #fff;
}
#c-anp6 .c-top .c-right2 .c-right3 .c-text {
  opacity: 0.5;
}
#c-anp6 .c-bottom .c-left2 .c-title {
  color: #fff;
}
#c-anp6 .c-bottom .c-anp-common-banner-left {
  color: #8e8e8e;
}
#c-anp7 {
  background: #fff;
}
#c-anp7 .c-car {
  position: absolute;
  top: 2.4rem;
  left: 4.8rem;
  width: 1.58rem;
  z-index: 2;
}
.c-anp-common {
  position: relative;
  position: sticky;
  top: 0;
  padding: 1.1rem 1rem 1rem 2.1rem;
  overflow: hidden;
}
.c-anp-common .c-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 5.8rem;
}
.c-anp-common .c-main {
  position: relative;
  z-index: 5;
}
.c-anp-common .c-top {
  margin-bottom: 1.2rem;
}
.c-anp-common .c-top,
.c-anp-common .c-bottom {
  display: flex;
  align-items: flex-start;
}
.c-anp-common .c-top .c-left2,
.c-anp-common .c-bottom .c-left2 {
  width: 28.75%;
}
.c-anp-common .c-top .c-left2 .c-title,
.c-anp-common .c-bottom .c-left2 .c-title {
  font-weight: bold;
  line-height: 1.2;
  color: #000;
}
.c-anp-common .c-top .c-left2 .c-title span,
.c-anp-common .c-bottom .c-left2 .c-title span {
  color: #005CE6;
}
.c-anp-common .c-top .c-right2,
.c-anp-common .c-bottom .c-right2 {
  display: flex;
  align-items: flex-start;
  width: 71.25%;
}
.c-anp-common .c-top .c-right2 .c-left3,
.c-anp-common .c-bottom .c-right2 .c-left3 {
  width: 27%;
  color: #000;
  line-height: 1.2;
}
.c-anp-common .c-top .c-right2 .c-left3 .c-title,
.c-anp-common .c-bottom .c-right2 .c-left3 .c-title {
  margin-bottom: 0.1rem;
  line-height: 1.1;
}
.c-anp-common .c-top .c-right2 .c-left3 .c-title span,
.c-anp-common .c-bottom .c-right2 .c-left3 .c-title span {
  color: #005CE6;
}
.c-anp-common .c-top .c-right2 .c-right3,
.c-anp-common .c-bottom .c-right2 .c-right3 {
  width: 73%;
}
.c-anp-common .c-top .c-right2 .c-right3 .c-text,
.c-anp-common .c-bottom .c-right2 .c-right3 .c-text {
  padding-right: 3rem;
  line-height: 1.5;
}
@media (max-width: 1260px) {
  .c-anp-common .c-top .c-right2 .c-right3 .c-text,
  .c-anp-common .c-bottom .c-right2 .c-right3 .c-text {
    padding-right: 0;
  }
}
.c-anp-common .c-bottom .c-right2 {
  align-items: flex-end;
}
.c-anp-common .c-anp-common-banner-left {
  margin: 0;
  width: 1.9rem;
  flex-shrink: 0;
}
@media (max-width: 1260px) {
  .c-anp-common .c-anp-common-banner-left {
    width: 3rem;
  }
}
.c-anp-common .c-anp-common-banner-left .swiper-slide {
  padding-left: 0.25rem;
  border-left: 2px solid #C2C2C2;
  cursor: pointer;
}
.c-anp-common .c-anp-common-banner-left .swiper-slide.swiper-slide-thumb-active {
  border-color: #005CE6;
}
.c-anp-common .c-anp-common-banner-right {
  margin: 0;
  width: 100%;
}
.c-anp-common .c-anp-common-banner-right .c-wrap {
  height: 4.8rem;
}
.c-anp-common .c-anp-common-banner-right .c-wrap video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#c-anp8 {
  position: relative;
  background-color: #f2f2f2;
}
#c-anp8 .c-text-box {
  position: absolute;
  top: 0.7rem;
  left: 0;
  width: 100%;
}
#c-anp8 .c-text-box .c-wrap {
  width: 5.1rem;
}
@media (max-width: 1260px) {
  #c-anp8 .c-text-box .c-wrap {
    width: 50%;
  }
}
#c-anp8 .c-text-box .c-wrap .c-title {
  width: 5.6rem;
  flex-shrink: 0;
  font-weight: bold;
  color: #333;
  line-height: 1.2;
}
#c-anp8 .c-text-box .c-wrap .c-title span {
  color: #005CE6;
}
#c-anp8 .c-text-box .c-wrap .c-text1 {
  margin: 0.2rem 0 0.3rem;
  color: #000;
  opacity: 0.5;
  line-height: 1.5;
}
#c-anp8 .c-img-box img {
  width: 100%;
}
@media (max-width: 1260px) {
  #c-anp8 .c-img-box img {
    margin-top: 3rem;
  }
}
#c-anp9 {
  color: #fff;
  height: 110vh;
}
#c-anp9 .c-main {
  position: relative;
  position: sticky;
  top: 0;
  background: url(../images/anp9-2.jpg) no-repeat center / cover;
  height: 100vh;
  padding-top: 1rem;
  overflow: hidden;
}
#c-anp9.active .container {
  opacity: 1;
  transition: all 0.5s 0.5s;
}
#c-anp9.active .c-round {
  top: 45vh;
  left: -20vh;
  margin-left: 0;
}
#c-anp9.on1 .c-round {
  top: 45vh;
  left: -20vh;
  margin-left: 0;
}
#c-anp9.on2 .c-round {
  top: -75vh;
  left: 10vh;
  margin-left: 0;
}
#c-anp9.on3 .c-round {
  top: -20vh;
  left: -60vh;
  margin-left: 0;
}
#c-anp9 .c-round {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  margin-left: -50vh;
  height: 100vh;
  width: 100vh;
  transition: 1s;
}
#c-anp9 .container {
  position: relative;
  opacity: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  transition: all 1s;
}
#c-anp9 .c-left {
  width: 50%;
}
#c-anp9 .c-left .c-anp9-banner .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
#c-anp9 .c-left .c-anp9-banner .swiper-slide .c-text {
  margin-top: 0.05rem;
  opacity: 0.5;
}
#c-anp9 .c-right {
  width: 50%;
}
#c-anp9 .c-right .c-title {
  width: 5.6rem;
  flex-shrink: 0;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
}
#c-anp9 .c-right .c-title span {
  color: #005CE6;
}
#c-anp9 .c-right .c-text {
  margin: 0.2rem 0 1.5rem;
  opacity: 0.5;
}
#c-anp9 .c-right .c-list li {
  margin-top: 0.1rem;
  line-height: 1;
  padding-left: 0.2rem;
  border-left: 2px solid transparent;
  transition: all 0.5s;
  cursor: pointer;
}
#c-anp9 .c-right .c-list li.on {
  border-color: #005CE6;
  color: #005CE6;
}
#c-anp10 {
  padding: 1rem 0;
}
#c-anp10 .container {
  display: flex;
  align-items: center;
}
#c-anp10 .c-left {
  width: 50%;
}
#c-anp10 .c-left .c-img-box img {
  width: 100%;
}
#c-anp10 .c-right {
  width: 50%;
}
#c-anp10 .c-right .c-title-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.6rem;
}
#c-anp10 .c-right .c-title-box .c-left2 {
  width: 42.666666%;
}
#c-anp10 .c-right .c-title-box .c-left2 .c-title {
  color: #000;
  line-height: 1.2;
  margin-bottom: 0.2rem;
}
#c-anp10 .c-right .c-title-box .c-right2 {
  width: 57.333334%;
}
#c-anp10 .c-right .c-title-box .c-right2 .c-text {
  line-height: 1.5;
}
#c-anp10 .c-right .c-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
#c-anp10 .c-right .c-list li {
  width: 42.666666%;
  padding-right: 0.8rem;
  line-height: 1;
}
#c-anp10 .c-right .c-list li .c-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.3rem 0 0.5rem;
  border-top: 1px solid #D5D5D5;
}
#c-anp10 .c-right .c-list li .c-wrap .c-num {
  color: #000;
}
#c-anp10 .c-right .c-list li:last-child .c-wrap {
  padding-bottom: 0;
}
#c-anp11 {
  padding: 0.9rem 0 2rem;
  color: #fff;
  background: #000000;
}
@media (max-width: 1260px) {
  #c-anp11 .c-top {
    margin-bottom: 0.5rem;
  }
}
#c-anp11 .c-top .c-text {
  opacity: 0.5;
  line-height: 1.5;
}
#c-anp11 .c-bottom {
  position: relative;
}
#c-anp11 .c-bottom .c-list {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}
#c-anp11 .c-bottom .c-list li {
  margin-top: 0.1rem;
  line-height: 1;
  padding-left: 0.2rem;
  border-left: 2px solid transparent;
  transition: all 0.5s;
  cursor: pointer;
}
#c-anp11 .c-bottom .c-list li.on {
  border-color: #005CE6;
  color: #005CE6;
}
#c-anp11 .c-bottom .c-anp11-banner .swiper-slide:first-child .c-wrap .c-text-box .c-list2 li:last-child {
  width: 100%;
}
#c-anp11 .c-bottom .c-anp11-banner .swiper-slide:first-child .c-wrap .c-text-box .c-list2 li:last-child .c-text {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
#c-anp11 .c-bottom .c-anp11-banner .swiper-slide:first-child .c-wrap .c-text-box .c-list2 li:last-child .c-text p {
  width: 50%;
}
#c-anp11 .c-bottom .c-anp11-banner .swiper-slide:first-child .c-wrap .c-text-box .c-list2 li:last-child .c-text p:nth-child(odd) {
  padding-right: 20px;
}
#c-anp11 .c-bottom .c-anp11-banner .swiper-slide .c-wrap {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
#c-anp11 .c-bottom .c-anp11-banner .swiper-slide .c-wrap .c-img-box {
  display: flex;
  align-items: center;
  width: 50%;
  height: 5.9rem;
}
#c-anp11 .c-bottom .c-anp11-banner .swiper-slide .c-wrap .c-img-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#c-anp11 .c-bottom .c-anp11-banner .swiper-slide .c-wrap .c-text-box {
  padding-right: 0.8rem;
  width: 50%;
}
#c-anp11 .c-bottom .c-anp11-banner .swiper-slide .c-wrap .c-text-box .c-list2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#c-anp11 .c-bottom .c-anp11-banner .swiper-slide .c-wrap .c-text-box .c-list2 li {
  display: flex;
  align-items: flex-start;
  padding: 0.15rem 0;
  width: 47.6%;
  border-bottom: 1px solid #202020;
}
@media (max-width: 1260px) {
  #c-anp11 .c-bottom .c-anp11-banner .swiper-slide .c-wrap .c-text-box .c-list2 li {
    font-size: 12px;
  }
}
#c-anp11 .c-bottom .c-anp11-banner .swiper-slide .c-wrap .c-text-box .c-list2 li .c-title {
  padding-right: 20px;
  flex-shrink: 0;
  color: #8e8e8e;
}
#c-anp11 .c-bottom .c-anp11-banner .swiper-slide .c-wrap .c-text-box .c-list2 li .c-text {
  width: 100%;
  text-align: right;
}
#c-anp12 {
  padding: 1rem 0 1.4rem;
}
#c-anp12 .c-top {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}
#c-anp12 .c-top .c-title {
  width: 5.6rem;
  flex-shrink: 0;
  font-weight: bold;
  color: #333;
  line-height: 1.2;
}
#c-anp12 .c-top .c-title span {
  color: #005CE6;
}
#c-anp12 .c-top .c-text {
  line-height: 1.5;
}
#c-anp12 .c-anp12-banner {
  margin: 0 -0.7rem;
}
#c-anp12 .c-anp12-banner .swiper-slide {
  padding: 0 5px;
  width: 2rem;
  transition: all 0.5s;
}
#c-anp12 .c-anp12-banner .swiper-slide .c-video-box {
  position: relative;
  height: 2.52rem;
  overflow: hidden;
}
#c-anp12 .c-anp12-banner .swiper-slide .c-video-box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#c-anp12 .c-anp12-banner .swiper-slide .c-video-box .c-btn {
  position: absolute;
  bottom: 0.26rem;
  left: 0.26rem;
  width: 0.3rem;
  height: 0.3rem;
  min-width: 30px;
  min-height: 30px;
  background: url(../images/ico-play.svg) no-repeat center / 100%;
}
#c-anp12 .c-anp12-banner .swiper-slide .c-text-box {
  padding-top: 0.2rem;
}
#c-anp12 .c-anp12-banner .swiper-slide .c-text-box .c-title {
  transition: all 0.5s;
  min-height: 0.48rem;
}
#c-anp12 .c-anp12-banner .swiper-slide.on {
  width: 4.2rem;
}
#c-anp12 .c-anp12-banner .swiper-slide.on .c-video-box .c-btn {
  opacity: 0;
}
#c-anp12 .c-anp12-banner .swiper-slide.on .c-text-box .c-title {
  color: #000;
}
